$dominantColor: #20a06f
$memoErrorFirstClick: #f76d6d
$memoErrorDificult: #f54949
$inputAtRest: #8fc8ca8c 
$linkAtRest: #20a06f
$linkOnHover: #6abe9e
$buttonAtRest: #6abe9e
$buttonOnHover: #20a06f
$buttonValue: #fff
$headerTimeLimit: #686868
$someText: #000000

