$dominantColor: #20a06f
$memoErrorFirstClick: #f76d6d
$memoErrorDificult: #f54949
$inputAtRest: #8fc8ca8c
$inputOnHover: #40d6db8c
$linkAtRest: #20a06f
$linkOnHover: #6abe9e
$buttonAtRest: #6abe9e
$buttonOnHover: #20a06f
$buttonValue: #fff
$headerTimeLimit: #686868
$someText: #000000
$accepted: #059669
$rejected: #B91C1C
$rejectedOnHover: #ff0000
$pending: #6366F1
$interviewing: #2563EB
$total: #5bc776
$white__theme_bgc: #ffffff
$black__theme_bgc: #000000
$white__theme_txt: #e6e4e4
$black__theme_txt: #000000