@import '../../colors/colors.module.sass'

.wrapper
    display: flex
    align-items: center
    padding-bottom: 20px
    flex-direction: column
    h2
        color: $dominantColor
.signin
    display: flex
    flex-direction: column
    position: relative

.input__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
    input
        font-size: 24px
        border: none
        color: $dominantColor
        outline: none
        box-shadow: 0px 1px 0px $inputAtRest
        &:hover
            box-shadow: 0px 2px 0px $inputAtRest
    label
        font-size: 24px
        padding-right: 20px
        font-weight: 600
        color: $dominantColor

.input__wrapper_submit
    display: flex
    justify-content: center
    padding: 20px 10px
    input
        padding: 5px 50px
        border: none
        border-radius: 5px
        cursor: pointer
        color: $buttonValue
        font-size: 20px
        background-color: $buttonAtRest
        &:hover
            background-color: $buttonOnHover

.password
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    bottom: 95px
    right: 20px
    width: 25px
    height: 25px

.messageFromServer
    position: absolute
    color: $rejected
    bottom: 60px
    font-size: 24px

@media screen and (max-width: 667px)
    .wrapper
        width: 100%
        input
            width: 60%

    .password
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 110px
        right: 25px
        width: 25px
        height: 25px
