.option_wrapper
    display: flex
    flex-direction: column
    padding-top: 30px
    section
        padding: 5px
        border: 1px solid #20a06f
        border-radius: 10px
    h2
        color: #686868