@import '../../../colors/colors.module.sass'

.white__theme_option_wrapper
    section
        h2, p, span, h3, h2
            color: $black__theme_txt
            font-weight: 900
.black__theme_option_wrapper
    section

        h2, p, span, h3, h2
            font-weight: 900
            color: $white__theme_txt
        input[type='number']
            color: $white__theme_txt
            background-color: $dominantColor

.white__theme_option_wrapper, .black__theme_option_wrapper
    padding: 10px
    display: flex
    flex-direction: column
    section
        padding: 5px
        border: 1px solid $dominantColor
        border-radius: 10px

.danger
    color: $rejected

.lite
    color: $someText

.input_timeLimit
    width: 50px
    height: 50px
    text-align: center
    font-size: 26px
    outline: none
    color: $dominantColor
    border-color: $dominantColor
    border-radius: 50%
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        display: none
    &:focus
        outline: none
        caret-color: transparent
        border-color: $inputOnHover

.wrapper_input_timeLimit
    display: flex
    align-items: center
    justify-content: space-evenly
