.timer_wrapper
    display: flex
    align-items: center
    justify-content: space-around
    width: 450px
    height: 120px
    border: 1px solid #20a06f
    border-radius: 15px

.timer_hours, .timer_minutes, .timer_seconds
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    span:nth-child(1)
        font-weight: 900
        font-size: 4rem
        color: #20a06f
    span:nth-child(2)
        color: #9b9a9a
        font-weight: 400

.divider
    display: flex
    align-items: center
    height: 100%
    span:nth-child(1)
        font-size: 3rem
        padding-bottom: 25px
        font-weight: 900
        color: #20a06f

.timer_button
    display: flex
    align-items: center
    justify-content: center
    width: 70px
    height: 70px
    border-radius: 50%
    border: 2px solid #20a06f

.timer_icons_pause
    font-size: 2rem
    color: #20a06f

.timer_icons_play
    margin-left: 8px
    font-size: 2rem
    color: #20a06f

.form_wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 450px
    height: 170px
    input
        border: none
        background-color: #dbdfde
        font-size: 24px
        outline: none
        width: 95%
